<div class=" container-xxl ">
  <div class="d-flex justify-content-center">
    <h1>Register</h1>
  </div>
  <div>
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Enter username" name="username">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter name" name="name">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Enter password" name="password">
    <label>Password2</label>
    <input type="password" class="form-control" placeholder="Enter password" name="password2">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Enter email" name="email">
    <br/>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Register</button>
  </div>
</div>

